package clase01;

class EcuacionCuadratica 
{
   
    int a ;
    int b ;
    int c ;

    void establecerA(int numA)
    {
        a = numA;
    }
    int obtenerNumeroA()
    {
        return a;
    }

    void establecerB(int numB)
    {
        b =numB;
    }
    int obtenerNumeroB()
    {
        return b;
    }
    void establecerC(int numC)
    {
        c = numC;
    }
    int obtenerNumeroC()
    {
        return c;
    }
     
    
        {
            double determinante = Math.pow(b, 2)-(4*a*c);
            
            if (determinante>0)
            {
               double x1 = ((b*(-1)) + Math.sqrt(determinante)) / (2*a);
               double x2 = ((b*(-1)) - Math.sqrt(determinante)) / (2*a);
               System.out.println("El valor de x1= " +x1+" y el valor de x2= "+x2);
            }
            else
            System.out.println("El determinante es negativo por lo cual no se puede dividir");
            
        }
    
    
}
